@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <h3>Olá @Context.Session.GetString("Nome")</h3>
    <a href="/Funcionario/Index">Acesse o estacionamento</a>
</div>
