@{
    ViewData["Title"] = "Estacionamentos";
}

<div class="row">
    <div class="col-10">

        <table class="table table-hover">
            <tr>
                <th>Estacionamento</th>
                <th>Endereco</th>
                <th>&nbsp;</th>
            </tr>
            @foreach (Estacionamento e in Model)
            {
                <tr>
                    <td>@e.nome</td>
                    <td>@e.endereco</td>
                    <td>
                        <!-- <a href="/Vaga/Index/@e.id">Acessar</a> -->
                        @Html.ActionLink(
                            "Acessar",                  // linkText
                            "Index",                    // actionName
                            "Vaga",                       
                            new {                       // routeValues
                                id_estacionamento = @e.id, 
                            }
                        )
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
